.login {
  width: 100vw;
  height: 100vh;
  position: relative;

  &-bg {
    background: url("../../assets/image/login/login-bg.jpg") top/cover;
  }

  &__form {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    width: 400px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
  }
}
